// gestion des couleurs via des variables pour qu'elles soient modifiables facilement dans tout le projet en un seul endroit
// pour un plus gros projet on pourrait les séparer par thème (couleurs primaires, secondaires, etc)
// et de les nommer en fonction du métier pour qu'elles soient plus facilement identifiables et modifiable dans tout le projet
$purple: #564AFF;
$white: #fff;
$very-light-grey: #FBFBFB;
$light-grey: #0000001A;
$grey: #707070;
$orange: #FFA846;
$green: #32B436;
$black: #000;
